<div class="col-lg-8 post-list">
    <div class="single-post-wrap">
        <div class="feature-image-thumb relative">
            <div class="overlay overlay-bg"></div>
            <img style="width: 100%;"  src="frontend/img/contact.jpeg" alt="">
        </div>
        <div class="content-wrap">
            <h3>Contact Page</h3>
        </div>
    </div>
</div>