<div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Home Page
                <a href="admin/items">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <h3>Home Page</h3>
            </div>
        </div>
    </div>