<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./elements/head %>
</head>
<body>
<header>
	<% include ./elements/header %>
</header>

 <%-body %>


<footer>
	<% include ./elements/footer %>
</footer>

<% include ./elements/script %>

</body>
</html>