<% 
sourceByHelper = (user_name, time) => {
    let xhtmlResource = '';
    xhtmlResource = `<td>
        <span class="glyphicon glyphicon-user" aria-hidden="true">${user_name}</span><br>
        <span class="glyphicon glyphicon-time" aria-hidden="true">${moment(time).format(systemConfig.format_long_time)}</span>
    </td>`
    return xhtmlResource;
}
%>